/* Custom Fonts ------------------------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Indie+Flower&family=Jost:wght@400;500&family=Lobster&family=Niconne&display=swap');

/* Common CSS ------------------------------------------------- */

body{
    font-family: 'Jost', sans-serif;
    margin: 0;
}

h1{
    font-family: 'Lobster', sans-serif;
}

p{
    font-family: 'Jost', sans-serif;
    color: black;
}

a{
    text-decoration: none;
}

#logo{
    margin: 15px;
    width: 130px;
    height: 130px;
}


/* Home Page Elements ------------------------------------------------- */
/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 0px 30px;
}

.hpLogoSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.openingHours{
    margin: 20px;
    background: rgb(220, 232, 58);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

nav ul li a:hover{
    color: orange;
    transition: 0.2s;
}

.navbar button{
    border: none;
    padding: 12px 30px;
    font-family: 'Exo 2';
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}

.bookTickets{
    background: orange;
}

.navbar button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* HERO SECTION */
/* Background Image */
.banner{
    width: 100%;
    height: 45em;
    background-image:  linear-gradient(rgba(49, 47, 90, 0.75),rgba(0,0,0,0.3)), url(images/background-images/background-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Text Content */
.hero-section-text{
    color: antiquewhite;
}

.motto{
    color: antiquewhite;
}

.content{
    text-align: center;
    font-size: 2em;
}

.heroSectionButton{
    border: none;
    padding: 12px 30px;
    font-family: 'Exo 2';
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}

.heroSectionButton:hover{
    transform: scale(1.05);
    cursor: pointer;
}


/* Store Elements ------------------------------------------------- */

.spHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    margin: 0.5rem;
}

/* CLOTHES SECTION */
#spClothes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#spClothes h4{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    background-color: bisque;
}

.tshirt{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
    background: white
}

.tshirt:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.tshirt img{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#spClothes button{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: orange;
}

/* TOYS SECTION */
#spToys{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#spToys h4{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    background-color: bisque;
}

.toy{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
    background: white
}

.toy:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.toy img{
    width: 280px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    display: block;
}

#spToys button{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: orange;
}

/* EXCLUSIVE OFFERS SECTION */
#spExclusiveOffers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.offer{
    width: 30%;
    margin: 15px;
    text-align: center;
    padding-top: 10px;
}

#spExclusiveOffers button{
    text-align: center;
    font-size: 15px;
    color: #fff;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: red;
}


/* Contact Page Elements ------------------------------------------------- */
.cpHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    margin: 0.5rem;
 }
 
.cpInfo_section{
    margin: 40px;
    font-size: 1.1rem;
    color: bisque;
}

.cpInfo_section p{
    color: bisque;
}

.faqHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}

.cpFAQ_section{
    background-color: rgba(255, 228, 196, 0.9);
    margin: 1%;
    padding: 0.7rem;
    padding-bottom: 1.6rem;
    border-radius: 10px;
}

.faq-item h3{
    font-weight: 500;
}
